<ion-view title="About" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <div style="margin: 0px; line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <div id="about-markdown11" style="color:#000000;" class=" ">
            <p>hello my name is meiyu. i have designed and coded a smart backpack .</p>
        </div>
    </ion-content>
</ion-view>