<ion-view title="History" id="page5" style="background-color:#C3A46B;" class=" ">
    <ion-content padding="true" class="has-header">
        <div id="history-markdown5" style="color:#000000;" class=" "></div>
        <div id="history-markdown6" style="color:#000000;" class=" ">
            <p>Here you can observe the history of your bag weights.</p>
        </div>
        <div id="history-button-bar1" class=" button-bar ">
            <button id="history-button1" class=" button button-light  button-block ">1</button>
            <button id="history-button2" class=" button button-light  button-block ">2</button>
            <button id="history-button3" class=" button button-light  button-block ">3</button>
        </div>
        <div id="history-markdown7" style="color:#000000;text-align:center;" class=" "></div>
        <div id="history-markdown8" style="color:#000000;" class=" "></div>
        <div id="history-markdown9" style="color:#000000;" class=" ">
            <p>Here you can see when your bag was too heavy or under weight.</p>
        </div>
    </ion-content>
</ion-view>