<ion-view title="Weigh Your Bag" id="page4" style="background-color:#CA8CDD;" class=" ">
    <ion-content padding="true" class="has-header">
        <div id="weighYourBag-markdown4" style="color:#000000;" class=" ">
            <p>Here you can weigh your bag. you input your weight. The app will then caluclate 10% of your bodyweight, which is the maximum weight you should carry to avoid back, shoulder and neck strain.</p>

            <p>An alarm will sound if the weiht you are carrying is too heavy.</p>
        </div>
        <div ng-controller="weighYourBagCtrl">
            <input type="number" placeholder="" style="width:100%" ng-model="peoplesweight">
            <div>{{peoplesweight}}</div>
        </div>
<div id="gauge" style="width:100%"></div>
        
    </ion-content>
</ion-view>